:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--navy-blue);
}

.footer-logo {
  color: var(--cloud);
}

.nav-link {
  text-decoration: none;
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

address {
  font-style: normal;
}
.address-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.hero-section {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-btn {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean);
}

.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-section {
  background-color: var(--cloud);
}

.team-member {
  background-color: var(--white);
}

.filter-btn {
  font-family: "Roboto", sans-serif;

  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
    letter-spacing: 0.04em;
  background: var(--cloud);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  background: var(--ocean);
  cursor: pointer;
  color: var(--white);
}

.feature-title,
.member-name,
.project-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-desc,
.member-position,
.project-type {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navy-blue);
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
